html {
    font-family: 'Times New Roman', serif;
    font-size: 8pt;
}

th, td {
    padding: 0 0.4em;
}

nav {
    display: none;
}

button {
    display: none;
}

#alert-container {
    display: none;
}
